<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>Servlet.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>Controlador.Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorC</servlet-name>
        <servlet-class>Servlet.ControladorC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIMG</servlet-name>
        <servlet-class>Servlet.ControladorIMG</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorEmp</servlet-name>
        <servlet-class>Servlet.ControladorEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorpro</servlet-name>
        <servlet-class>Controlador.controladorpro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorimg</servlet-name>
        <servlet-class>Controlador.controladorimg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controlador.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladoremp</servlet-name>
        <servlet-class>Controlador.controladoremp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/nuevousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmp</servlet-name>
        <url-pattern>/ControladorEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorC</servlet-name>
        <url-pattern>/ControladorC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIMG</servlet-name>
        <url-pattern>/ControladorIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorpro</servlet-name>
        <url-pattern>/controladorpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorimg</servlet-name>
        <url-pattern>/controladorimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladoremp</servlet-name>
        <url-pattern>/controladoremp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
